.section {
    padding: 80px 0;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left {
    flex: 1;
}

.title {
    font-size: 3rem;
    color: var(--color-primary);
    margin-bottom: 30px;
}

.subtitle {
    color: var(--color-yellow);
    font-weight: 700;
    font-family: var(--font-heading);
    display: block;
    margin-bottom: 10px;
}

.introDesc {
    color: #666;
    margin-bottom: 40px;
}

.item {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.iconBox {
    flex-shrink: 0;
}

.itemTitle {
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.itemDesc {
    color: #777;
    font-size: 0.95rem;
}

.right {
    flex: 1;
    position: relative;
}

.blobImage {
    position: relative;
    z-index: 1;
}

.blobBack {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    background: #73D8CD;
    /* Tealblob color */
    border-radius: 40% 60% 70% 30% / 50% 30% 70% 50%;
    z-index: -1;
}

.rocket {
    position: absolute;
    top: 20%;
    right: -50px;
    width: 150px;
    animation: fly 3s ease-in-out infinite alternate;
}

@keyframes fly {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }
}